.card {
  cursor: pointer;
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 18rem;
}

.card img {
  height: 200px; /* Imposta l'altezza desiderata per le immagini */
  object-fit: cover; /* Assicura che l'immagine si adatti bene alla card */
}
