@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Noto Serif", serif;
  background: rgb(195,193,8);
  background: linear-gradient(65deg, rgba(195,193,8,1) 0%, rgba(255,128,0,1) 61%);
}

h1{
  font-size: 64px;
  text-align: center;
  margin: 2rem;
}

img{
  width: 100%;
  height: 500px;
}

.sidebar {
  position: sticky;
  right: 0;
  top: 0;
  padding: 10px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  overflow-y: auto;
}